
<nav class="navbar navbar-toggleable-md fixed-top navbar-custom">
  <div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Little Bit O&#039; Lindy</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="navbar-element"><a href="/about"><i class="fa fa-user"></i> About</a></li>
        <li class="navbar-element">
        <a href="https://facebook.com/{{ .Site.Params.social.facebook }}"><i class="fa fa-facebook-square"></i> Facebook</a>
      </li>
      <li class="navbar-element">
        <a href="https://twitter.com/{{ .Site.Params.social.twitter }}"><i class="fa fa-twitter-square"></i> Twitter</a>
      </li>
      <li class="navbar-element">
        <a href="https://pinterest.com/{{ .Site.Params.social.pinterest }}"><i class="fa fa-pinterest"></i> Pinterest</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
