body {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f1f0ff;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-family: $headingsFontFamily;
  color: $headingsColor;
}
a {
  color: $link-color;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: $navbarBackground;
}

.navbar-custom .navbar-nav > li > a {
 color: $navbarLinkColor; /*Change active text color here*/
  }

.navbar-brand a {
color: $navbarLinkColor; /*Change active text color here*/
 }

 .navbar-element a {
   padding-left: 5px;
   padding-right: 5px;
 }
