<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{- partial "head.html" . -}}
</head>

<body lang="{{ .Site.Params.Lang }}">
<div class = "container">


  <nav class="navbar navbar-fixed-top navbar-default navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Little Bit O&#039; Lindy</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/about"><i class="fa fa-user"></i> About</a></li>
          <li><a href="/contact"><i class="fa fa-envelope"></i> Contact</a></li>
            <li>
            <a href="https://facebook.com/{{ .Site.Params.social.facebook }}"><i class="fa fa-facebook-square"></i> Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/{{ .Site.Params.social.twitter }}"><i class="fa fa-twitter-square"></i> Twitter</a>
          </li>
          <li>
            <a href="https://pinterest.com/{{ .Site.Params.social.pinterest }}"><i class="fa fa-pinterest"></i> Pinterest</a>
          </li>

        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
  <div class="container">
    <div row>
      <div class = "col-md-2 hidden-xs">
      </div>
      <div class = "col-md-8">
        {{- block "main" . -}} {{- end -}}
      </div>
      <div class = "col-md-2 hidden-xs">
      </div>
    </div>




  </div>




  {{- partial "footer_scripts.html" . -}}
  </div>
</body>

</html>
